/** @format */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
}

.container {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
}

.container.items {
  height: fit-content;
}
h2,
h3 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--color-primary-bright-cyan);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.4s ease-in-out;
}

input[type="submit"]:hover {
  background-color: rgb(223, 75, 75);
  transition: background-color 0.4s ease-in-out;
}
